<!-- Este html corresponde a cada cuadro con información del producto en el menú de la tienda-->
{% load static %}
<div class="list-row">
  <img
    src="{% static producto.imageURL %}"
    alt="{{ producto.ProductName }}"
  />
  <div class="">
    <!--Descripción del producto-->
    <div class="textarea-md">
      <h3 class="text-xl font-bold">{{ producto.ProductName }}</h3>
      <p class=""> {{ producto.description }}</p>
      <p class="font-bold"> ${{ producto.priceCLP }}</p>
    </div>

    <!--Botones para agregar y elegir cantidad del producto-->
    <div class="flex items-center">
      <div class="list-row items-center">
        <button onclick="changeQuantity(-1, '{{ producto.ProductName }}')" class="btn btn-circle">-</button>
        <input id="quantity-{{ producto.ProductName }}" type="number" style="width: 2ch;" class="input items-center" size="2" value="0" readonly  />
        <button onclick="changeQuantity(1, '{{ producto.ProductName }}')" class="btn btn-circle">+</button>
      </div>

      <button onclick="" class="btn btn-primary">Agregar</button>
    </div>  
    
  </div>
</div>