<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de una orden </title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'order.css' %}">

</head>
<body>
<div class="customer-details">
    <p class="customer-name">{{customer}}</p>

</div>
<div class="order-container">
        <div class="product-list-container">
        {% if product_list %}
        <h3>Lista de productos en la orden:</h3>
        
        {% for item in product_list %}
            <div class="product-item">
                <h4>{{ item.product.productName }}</h4>
                <p><strong>Descripción:</strong> {{ item.product.description }}</p> 
                <p class="price"><strong>Precio:</strong> ${{ item.product.priceCLP }} CLP</p> 
                <img src="{{ item.product.imageURL }}" alt="{{ item.product.productName }}" style="max-width: 100px; height: auto;">
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No hay productos en este pedido.</p>
{% endif %}

</div>
<div class="more-information">
<p>Estado del Pedido: {{ status }}</p>
<p>Lugar de entrega:{{deliverAt}} </p>
</div>
  <form action="{% url 'accepted_order' %}" method="post">
                            <input type="hidden" name="order_id" value="{{ pedido.orderID }}">
                            <button class="boton-pedido" type="submit">Aceptar pedido</button>
                    </form>


<div class="chat">
<p>Chat</p>
</div>

</body>
</html>