<!-- Página con listado de tiendas -->
{% extends 'urappi/base.html' %} 

{% block title %}Inicio{% endblock %} 

{% block content %}
<!-- Sección: Información del usuario -->
<!--Voy a borrarla por ahora-->
<!--{% include "pedidos/stores_view/_user_info.html" %}-->


<!-- Sección: Listado de tiendas -->
<!-- Se crea un bloque por cada tienda -->
<div class="menu menu-horizontal items-center bg-base-200 rounded-box">
  {% for tienda in tiendas %} 
    {% include "pedidos/stores_view/_store_detail.html" %} 
  {% endfor %}
</div>

{% endblock content %}
