<!-- Este html corresponde a cada cuadro con información del producto en el menú de la tienda-->
{% load static %}
<div class="list-row mb-4">
  <img
    src="{{ producto.prodImage.url }}"
    alt="{{ producto.ProductName }}"
    width="150px"
    class="rounded-lg border border-base-300"
  />
  <div>
    <!--Descripción del producto-->
    <div class="textarea-md">
      <h3 class="text-xl font-bold">{{ producto.ProductName }}</h3>
      <p>{{ producto.description }}</p>
      <p class="font-bold text-primary"> ${{ producto.priceCLP }}</p>
    </div>

    <!-- Formulario para agregar producto al carrito -->
    <form method="post" action="{% url 'add_to_cart' %}" class="flex items-center mt-3 space-x-2">
      {% csrf_token %}
      <input type="hidden" name="product_id" value="{{ producto.id }}">
      <div class="flex items-center">
        <button type="button" onclick="changeQuantity(-1, '{{ counter }}')" class="btn btn-circle">-</button>
        <input id="quantity-{{ counter }}" name="quantity" type="number" style="width: 5ch;" class="input items-center text-center" size="2" value="1" min="1" readonly />
        <button type="button" onclick="changeQuantity(1, '{{ counter }}')" class="btn btn-circle">+</button>
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
</div>
