{% load static %}
{% block content %}

<div class="hero bg-base-200 min-h-screen/2">
  <div class="hero-content flex-col lg:flex-row">
     <img src="/media/{{ tienda.shopImage }}" class="max-w-sm shadow-2xl" />

    <div id="store-info">

      <h1 class="text-xl font-bold">{{tienda.shopName}}</h1>
      <ul >{{ tienda.shopDescription }} </ul>
      <ul>Ubicación: {{tienda.location}}</ul>  
      <ul>Horario: {{ tienda.openTime }} - {{ tienda.closingTime }}</ul>
      <ul>Calificación: {{ tienda.rating }} ★ </ul>

    </div>
  </div>
  
</div>

{% endblock content %}
