<!DOCTYPE html>
<html lang="es" data-theme="urappi-theme">
  <head>
    <title>{% block title %}Urappi{% endblock %}</title>
    <!-- Titulo por defecto -->
    {% load static %}
    <link
      href="{% static 'urappi/output.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% block header %}
    <header>
      <!-- Common navigation or header elements -->
    </header>
    {% endblock %}

    <main>
      {% block content %}
      <!-- Default content goes here -->
      {% endblock %}
    </main>

    {% block footer %}
    <footer>
      <!-- Common footer elements -->
    </footer>
    {% endblock %} {% block extra_js %}{% endblock %}
  </body>
</html>
