<!DOCTYPE html>

<html class="h-full" lang="es" data-theme="urappi-theme">
    <head>
        <title>{% block title %} Urappi {% endblock %}</title>
        <!-- Titulo por defecto -->
        {% load static %}
        <link
            href="{% static 'urappi/output.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        {% block extra_css %}{% endblock %}
    </head>
    <body class="h-full flex flex-col">

        {% block header %}
        <header class="bg-gradient-to-r from-primary to-secondary text-white">
            <!-- header elements -->
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Urappi Logo" class="h-20 object-contain">
                </a>
                <nav class="flex space-x-4 items-center">
                    <!-- Ícono Carrito -->
                    <a href="{% url 'cart' %}" class="relative group ml-4 flex items-center">
                        <!-- Icono carrito (Heroicon) -->
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-7 h-7 transition"
                             :class="group-hover:text-red-400 text-white"
                             fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 7M7 13l-1.293 2.293a1 1 0 00.217 1.32c.286.258.683.386 1.076.293h9.94c.393.093.79-.035 1.076-.293a1 1 0 00.217-1.32L17 13M9 21a1 1 0 102 0 1 1 0 00-2 0zm6 0a1 1 0 102 0 1 1 0 00-2 0z"/>
                        </svg>
                        <!-- Badge de cantidad -->
                        <span class="absolute -top-1 -right-1 bg-red-500 text-xs rounded-full w-5 h-5 flex items-center justify-center text-white shadow
                        group-hover:bg-red-600 transition">0</span>
                    </a>
                    <!-- Links normales -->
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                    {% else %}
                    <a href="{% url 'register_user' %}">Registrarse</a>
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                    {% endif %}
                </nav>
            </div>


        </header>
        {% endblock %}


        <main class="flex-grow">
            {% block content %}
            <!-- Default content goes here -->
            {% endblock %}
        </main>

        {% block footer %}
        <footer>
            <!-- Common footer elements -->
        </footer>
        {% endblock footer %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
