<!DOCTYPE html>

<html class="h-full" lang="es" data-theme="urappi-theme">
    <head>
        <title>{% block title %} Urappi {% endblock %}</title>
        <!-- Titulo por defecto -->
        {% load static %}
        <link
            href="{% static 'urappi/output.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        {% block extra_css %}{% endblock %}
    </head>
    <body class="h-full flex flex-col">

        {% block header %}
            {% include 'urappi/header.html' %}
        {% endblock %}

        <main class="flex-grow">
            {% block content %}
            <!-- Default content goes here -->
            {% endblock %}
        </main>

        {% block footer %}
        <footer>
            <!-- Common footer elements -->
        </footer>
        {% endblock footer %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
