<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Repartidor</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'urappi/repartidor.css' %}">

</head>
<body>
   <body>
    <div class="sidebar-perfil">
        <div class="perfil-contenedor">
            <div class="foto-perfil">
                <img src="" alt="Foto de perfil">
            </div>
            <h2 class="nombre-repartidor">Beauchefiano promedio</h2>
            <p class="dinero-repartidor">X puntos </p>
            <div class="switch-button">
                <input type="checkbox" name="switch-button" id="switch-label" class="switch-button__checkbox">
                <label for="switch-label" class="switch-button__label"></label>
            </div>
        </div>
        </div>

    <div class="main-content-pedidos">
        <div class="pedidos-container">
            <div class="ejemplo-pedido">
                <p class="id-pedido">#123443</p>
                <p class="comprador">Lucho</p>
                <p class="lugar">Centro Modelamiento matemático</p>
                <p class="hora">11:30 AM</p>
                <p class="tienda">La Sonia</p><p class="dinero">CLP500</p>
                <button class="boton-pedido">Aceptar</button>
                <button class="boton-rechazo">Rechazar</button>
            </div>

            <div class="ejemplo-pedido">
                <p class="id-pedido">#1</p>
                <p class="comprador">Almendra</p>
                <p class="lugar">Geología 301</p>
                <p class="hora">13:30 PM</p>
                <p class="tienda">Delta T</p><p class="dinero">CLP1500</p>
                <button class="boton-pedido">Aceptar</button>
                <button class="boton-rechazo">Rechazar</button>
            </div>

            </div>
    </div>

    
</body>

    <script src="{% static 'urappi/repartidor.js' %}"></script>

</html>