<!-- Página con listado de tiendas -->
{% extends 'urappi/base.html' %} 

{% block title %}Inicio{% endblock %} 

{% block content %}
<!-- Sección: Listado de tiendas -->
<!-- Se crea un bloque por cada tienda -->

<div class="menu menu-horizontal items-center bg-base-200 rounded-box">
  {% for tienda in tiendas %} 
  {% include "app_comprador/stores_view/_store_detail.html" %} 
  {% endfor %}
  <p> test </p>
</div>

<div class="fixed bottom-0 left-0 right-0 flex justify-center p-4 bg-base-100/80 backdrop-blur-sm border-t border-base-200">
  <div class="join shadow-lg">
    {% if tiendas.has_previous %}
      <a href="?page=1" class="join-item btn">«</a>
      <a href="?page={{ tiendas.previous_page_number }}" class="join-item btn">‹</a>
    {% endif %}
    
    <span class="join-item btn pointer-events-none">
      Página {{ tiendas.number }} de {{ tiendas.paginator.num_pages }}
    </span>
    
    {% if tiendas.has_next %}
      <a href="?page={{ tiendas.next_page_number }}" class="join-item btn">›</a>
      <a href="?page={{ tiendas.paginator.num_pages }}" class="join-item btn">»</a>
    {% endif %}
  </div>
</div>

{% endblock content %}
